<!-- campgrounds home -->
<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/index.css">

    <!-- title -->
    <h1 class="campgroundsTitle">All campgrounds</h1>

    <!-- show campgrounds -->
    <% for(let campground of campgrounds){%>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4  campgroundThumbnail">
                    <!-- campground image -->
                    <img class="img-fluid" alt="" src="<%= campground.images[0].url %>">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <!-- campground title -->
                        <h5 class="card-title">
                            <%= campground.title %>
                        </h5>
                        <!-- campground description -->
                        <p class="card-text">
                            <%= campground.description %>
                        </p>
                        <!-- campground location -->
                        <p class="card-text">
                            <small class="text-secondary">
                                <%= campground.location %>
                            </small>
                        </p>
                        <!-- go to campground details -->
                        <a class="btn btn-secondary" href="/campgrounds/<%= campground.id %>">view</a>
                    </div>
                </div>
            </div>
        </div>
        <% } %>